body {
    overflow: hidden scroll;
}

.index-title {
    font-family: sans-serif;
    font-size: 25px;
    width: fit-content;
    margin: 50px auto;
}

.container {
    position: relative;
    min-height: 300px;
    height: 100%;
    width: 100%;
}

.search-box {
    margin: 30px auto;
    width: 500px;
}

.query-method-box {
    height: 50px;
    font-size: small;
    margin: 2px 30px;
}

.query-method-box input[type="radio"] {
    margin: 10px 0;
}

.query-method-box label {
    margin: 10px 0;
}

.search-result {
    margin: 30px auto;
    width: 80%;
}

.search-msg {
    text-align: center;
    margin: 10px auto;
    font-size: small;
    font-weight: lighter;
}

.result-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.result-title .title {
    font-size: large;
    font-weight: lighter;
    margin: 0;
    line-height: 10px;
    padding: 10px 0;
}

.result-title a {
    text-decoration: none;
    color: slategrey;
    font-size: smaller;
    line-height: 10px;
    padding: 10px 0;
}

.result-title a:hover {
    text-decoration: 1px slategrey solid underline;
}

.break-line {
    border-style: dotted;
    border-color: dimgrey;
    border-width: 1px 0 0;
}

.docid {
    border-radius: 5px;
    background-color: rgb(255, 248, 219, 0.5);
    width: fit-content;
    padding: 10px;
}

.doccontent {
    text-indent: 2em;
    line-height: normal;
    background-color: rgb(224, 255, 255, 0.5);
    padding: 10px 20px;
}